
<div class="container" id="show">
  <h1> <%=@article.title%> </h1>
  <div class="text2">
    <p style="text-align: center"><%= @article.content %></p>
  </div>
  <button type="button" class="btn btn-primary"><%= link_to 'Edit this article', edit_article_path(@article)%></button>

  <button type="button" class="btn btn-primary"><%= link_to "Back to home", articles_path%> </button>
</div>
