/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html body {
  background-color: #dfddc7;
}

html .btn a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

.button {
  margin-top: 7px;
}

#img {
  background-color: #f58b54;
  background-size: center;
  margin: 6px 0;
  box-shadow: 8px 8px 12px #aaa;
}

html a {
  text-decoration: none;
  color: white;
  margin-top: 15px;
  color: #211717;
}

#show {
  background-color: #dfddc7;
    padding: 43px;
}

.text2 {
  background-color: #F28A53;
  border-radius: 8px;
  box-shadow: 8px 8px 12px #aaa;
}
